<div id="map_edit"
  style="height: 500px; width: 100vw;"
  data-cycling-waypoints="<%= @cycling_waypoints.to_json %>"
  data-cycling-waypoints-alt="<%= @cycling_waypoints_alt.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="d-flex justify-content-around align-items-end buttons">
  <div class="back btn btn-primary">
    <%= simple_form_for(@ride, html: { id: "edit_ride_32_unfriendly"}) do |f| %>
      <%= f.input :bike_friendly, input_html: { value: false, id: "ride_bike_unfriendly" }, as: :hidden %>
      <%= f.submit "Safe & Rapide", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div>
    <%= simple_form_for(@ride, html: { id: "edit_ride_32_friendly"}) do |f| %>
      <%= f.input :bike_friendly, input_html: { value: true, id: "ride_bike_friendly" }, as: :hidden %>
      <%= f.submit "Safe & Cool", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
