<div id="map_edit"
  style="height: 500px; width: 100vw;"
  data-cycling-waypoints="<%= @cycling_waypoints.to_json %>"
  data-walking-waypoints="<%= @walking_waypoints.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="d-flex justify-content-around align-items-end buttons">
  <div class="back btn btn-primary">
    <%= link_to "Safe & Rapide", ride_path  %>
  </div>

  <div>
    <%= simple_form_for(@ride) do |f| %>
      <%= f.input :bike_friendly, input_html: { value: true }, as: :hidden %>
      <%= f.submit "Safe & Cool", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
