<div id="map_edit"
  style="height: 100vh; width: 100vw;"
  data-cycling-waypoints="<%= @cycling_waypoints.to_json %>"
  data-cycling-waypoints-alt="<%= @cycling_waypoints_alt.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container blur-background bottom-menu">
  <div class="blur-wrapper"></div>
  <div class="row no-gutters justify-content-center bg-transparent">
    <div class=".d-print-inline">
      <div class="btn btn-cool">
        <%= link_to "J'ai le temps", ride_path  %>

        </div>
        <div class="form-fast">
          <%= simple_form_for(@ride) do |f| %>
          <%= f.input :bike_friendly, input_html: { value: true }, as: :hidden %>
          <%= f.submit "Je suis pressé.e", class: "btn btn-fast" %>
          <% end %>

          </div>
        </div>
      </div>
    </div>
