<div id="map_edit"
  style="height: 100vh; width: 100vw;"
  data-cycling-waypoints="<%= @cycling_waypoints.to_json %>"
  data-cycling-waypoints-alt="<%= @cycling_waypoints_alt.to_json %>"
  data-duration="<%= @duration.to_json %>"
  data-duration-alt="<%= @duration_alt.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container blur-background bottom-menu">
  <div class="blur-wrapper"></div>
  <div class="row no-gutters justify-content-center bg-transparent">
    <div class="edit">
     <div class="">
      <%= simple_form_for(@ride, html: { id: "edit_ride_32_friendly"}) do |f| %>
        <%= f.input :bike_friendly, input_html: { value: true, id: "ride_bike_friendly" }, as: :hidden %>
        <%= f.submit "J'ai le temps", class: "btn btn-cyclee btn-cool" %>
      <% end %>
    </div>
    <div class="">
      <%= simple_form_for(@ride, html: { id: "edit_ride_32_unfriendly"}) do |f| %>
        <%= f.input :bike_friendly, input_html: { value: false, id: "ride_bike_unfriendly" }, as: :hidden %>
        <%= f.submit "Je suis pressé.e", class: "btn btn-cyclee btn-fast" %>
      <% end %>
    </div>
  </div>
</div>
</div>

