<div id="map"
  style="height: 100vh; width: 100vw"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<% if params[:query].present? %>
  <div class="blur-background bottom-menu">
    <div class="d-flex justify-content-around align-items-end buttons bg-white">
      <div class="back btn btn-primary">
        <%= link_to "retour", search_path  %>
      </div>
      <div class="form">
        <%= simple_form_for(@ride) do |f| %>
          <%= f.input :origin_latitude, as: :hidden %>
          <%= f.input :origin_longitude, as: :hidden %>
          <%= f.input :destination_address, input_html: { value: params[:query]}, as: :hidden %>
          <%= f.submit "ride", class: "btn btn-cool" %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="blur-background bottom-menu">
    <div class="blur-wrapper"></div>
    <div class="row no-gutters">

      <%= form_tag search_path, class: "search-form", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control", id: "search",
          placeholder: "Où allez-vous ?"
        %>
        <%= submit_tag "", class: "btn btn-secondary d-none" %>
      <% end %>
    </div>
  </div>
<% end %>
