<div id="map"
  style="height: 100vh; width: 100vw;"

  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<% if params[:query].present? %>
  <div class="pb-3 px-3 bottom-menu recap-address">
    <div class="d-flex flex-column align-items-center bd-highlight bg-white" style="border-radius: 20px;">
      <p class='text-address'>Vous avez cherché:</p>
      <p class="address text-center"><%= params[:query] %></p>
        <%= simple_form_for(@ride, html: {class: "mb-3"}) do |f| %>
          <%= f.input :origin_latitude, as: :hidden %>
          <%= f.input :origin_longitude, as: :hidden %>
          <%= f.input :destination_address, input_html: { value: params[:query]}, as: :hidden %>
          <div class="wrapper-btn">
            <%= f.submit "On y va !", class: "btn btn-cyclee btn-cool"%>
          </div>
        <% end %>
      <%= link_to "Je fais une nouvelle recherche", search_path  %>
    </div>
  </div>
<% else %>
  <div class="d-flex flex-column bd-highlight mb-3">
    <div class="blur-background bottom-menu">

      <div class="blur-wrapper"></div>

      <div class="row no-gutters">

        <%= form_tag search_path, class: "search-form", method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control", id: "search",
            placeholder: "Où allez-vous ?"
          %>
          <%= submit_tag "", class: "btn btn-secondary d-none" %>
        <% end %>

      </div>
    </div>
  </div>
<% end %>

<div class="modal fade" id="modalOneParking" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Je suis garé.e</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'parkings/index', parking: @address_parking %>
      </div>
    </div>
  </div>
</div>
