<div id="map_show"
  style="width: 100vw; height: 500px;"
  data-markers="<%= @markers.to_json %>"
  data-parkings-spots="<%#= @parkings_spots.to_json %>"
  data-cycling-waypoints="<%= @cycling_waypoints.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="blur-background bottom-menu">
  <div class="blur-wrapper">
    <div class="row no-gutters">



      <div class="btn-map-layers">
        a
        fa_icon "layer-group"
      </div>

      <div class="time">

      </div>

      <div class="btn-dangers">

      </div>
    </div>
  </div>

</div>
<!-- <div>
  <%= @parkings_spots.first[:lat] %>
  <%= @parkings_spots.first[:lng] %>
</div>
 -->


