<div id="map_show"
  style="width: 100vw; height: 100vh;"
  data-markers="<%= @markers.to_json %>"
  data-parkings="<%= @parkings_spots.to_json %>"
  data-pumps="<%= @pumps.to_json %>"
  data-bikesshops="<%#= @bikes_shops_spots.yaml %>"
  data-cycling-waypoints="<%= @cycling_waypoints.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="blur-background bottom-menu">
  <div class="blur-wrapper"></div>
    <div class="row no-gutters d-flex justify-content-between align-items-center">

      <div class="btn-map-layers">
        <i class="fas fa-layer-group text-white"></i>
      </div>

      <div class="time font-weight-light">
        15min - 3km
      </div>

      <div class="btn-dangers">
        <i class="fas fa-exclamation text-white"></i>
      </div>
    </div>
</div>
